on property:init.svc.vendor.boot-qti=running
    setprop prepdecrypt.setpatch true

on init
    start vendor.qseecomd

# Runs after qseecomd starts
on property:vendor.sys.listeners.registered=true
    start vendor.keymaster-4-0
    start vendor.gatekeeper-1-0

# Runs during post-fs-data
on property:ro.crypto.state=encrypted
    exec_start system.prepdecrypt

# Runs after decryption
on property:twrp.all.users.decrypted=true
    setprop crypto.ready 0

    stop vendor.qseecomd
    stop vendor.keymaster-4-0
    stop vendor.gatekeeper-1-0
