import init.recovery.encryption.rc

on early-init
    loglevel 7
    write /sys/fs/selinux/enforce 0
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on init
    start vendor.boot-qti

on early-fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on boot
    setprop sys.usb.config adb
