# Copyright (C) 2026 chickendrop89
# SPDX-License-Identifier: GPL-3.0-only

service system.prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0
    ioprio rt 3
